name: "Generate Postman json and commit"

on:
  workflow_dispatch:
    inputs:
      file:
        description: 'OpenAPI filepath'     
        required: true
        default: 'adyen-openapi/yaml/CheckoutService-v70.yaml'

permissions:
  contents: write  
  
jobs:
  generate:
    name: "Generate Postman Collection"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - uses: actions/checkout@v4
        with:
          repository: 'adyen/adyen-openapi'
          fetch-depth: 0
          path: 'adyen-openapi'
      - uses: addnab/docker-run-action@v3
        with:
          image: ghcr.io/adyen-examples/openapi-generator-postman-v2:main
          options: -v ${{ github.workspace }}:/usr/src/app
          run: |
            export FILE_PATH="${{ github.event.inputs.file }}"
            /usr/src/app/generatePostmanJsonFile.sh "$FILE_PATH" 
      - uses: stefanzweifel/git-auto-commit-action@v6
        with:
          commit_message: "Manual generation"
